
:root{
    --black: #000;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0; left:0; right:0;
    background:#000;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: #fff;
    font-weight: bolder;
    text-transform: lowercase;
}

header .logo span{
    color:rgb(253, 0, 160);
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color: #ffffffc4;
}

header .navbar a:hover{
    color:rgb(253, 0, 160);
}

header #toggler{
    display:none;
}

header .fa-bars{
    font-size: 3rem;
    color:#fff;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display:none;
}































/*media queries*/
@media (max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }
}

@media (max-width:768px){
    header .fa-bars{
        display: block;
        order: 2;
    }

    header .logo{
        order: 1;
    }

    header .navbar{
        position: absolute;
        top: 100%; left:0; right:0;
        background: #000;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .3s ease;
    }

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #000;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}